<div class="payroll">
	<div class="payroll__header">
		<header class="container">
			<div class="payroll__header-heading">
				<h3 class="payroll__header-heading-text">
				Zambia's Net Pay Calculator
				</h3>
			</div>

			<div class="payroll__header-summary">
				<p class="payroll__header-summary-text">
				Zambia's Net Pay Calculator is a tool that can be used to calculate 
				the monthly take home (net) pay for employees (except part time 
				employees) working in Zambia. All formulae are based on the 2017 
				NAPSA Ceiling, Income Tax Act and Statutory instruments as amended 
				by the provisions of the 2017 Zambian National Budget. The tool is to be 
				used as a guide only, Errors and Omissions expected.
				</p>
			</div>

		</header>
	</div>
	<div class="payroll__main">
		<main class="container">
			<div class="payroll__main-instructions">
				<h5 class="payroll__main-instructions-text">
					Enter your name and total monthly income below, and then click calculate.
				</h5>
			</div>
			<div class="payroll__main-form">
				<div class="row">
			<div class="input-field col s12 m6">
				<i class="material-icons prefix move_down">account_circle</i>
				<input id="userName" type="text">
				<label for="icon_prefix">Your name (optional)</label>
			</div>
			<div class="input-field col s12 m6">
				<i class="material-icons prefix move_down">local_atm</i>
				<input id="userIncome" type="number" step=".01" min=10>
				<label for="icon_telephone">Gross Income in Kwacha*</label>
			</div>
			</div>
			</div>
			<div class="payroll__main-calculate">
				<button id="modal-trigger" class="waves-effect waves-light btn-large">
					<i class="material-icons right">attach_money</i>Calculate
				</button>
			</div>

				<div id="results-modal" class="modal payroll__results-modal">
					<div class="modal-content">
						<div class="payroll__results-modal-content">
							<h5 class="payroll__results-modal-content__header">
								Hello <span id="results-name"></span>.
							</h5>
								<p class="payroll__results-modal-content__content">
								From your monthly income of
								K<span id="results-user-income"></span>, Pay As You Earn (PAYE) Tax of
								K<span id="results-paye"></span> and NAPSA contribution of
								K<span id="results-napsa"></span> will be deducted. You will remain with a Net Pay of
								K<span id="results-net"></span>.
								</p>
						</div>
					</div>
					<div class="modal-footer">
						<a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
					</div>
				</div>
		</main>
	</div>
</div>
